<main class="px-4 py-10 sm:px-6 lg:px-8">
  <div class="mx-auto">

    <.flash_group flash={@flash} />
    
    <div class="flexcontainer mx-auto px-4">

      <header class="text-center mb-5">
        <h1 class="text-4xl font-bold text-blue-400">Medical Clinic</h1>
      </header>

      <%= @inner_content %>

    </div>
  </div>
</main>
